<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
</head>
<body>
  <main>
    <div class="container">
        <h1>Fazer Reserva</h1>
        <p>Bem-vindo, {{ session.username }}! <a href="{{ url_for('logout') }}">Sair</a></p>
        <form action="{{ url_for('reservar') }}" method="post" autocomplete="off">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="servico">Serviço:</label>
            <select name="servico" id="servico">
                <option value="">Selecione...</option>
                <option value="Corte de Cabelo">Corte</option>
                <option value="Corte de Cabelo + Barba">Corte + Barba</option>
                <option value="Coloração">Coloração</option>
                <option value="Serviço Completo">Serviço Completo</option>
            </select>
            <label for="data">Data:</label>
            <input type="date" name="data" id="data">
            <label for="hora">Hora:</label>
            <input type="time" name="hora" id="hora">
            <button type="submit">Agendar</button>
        </form>
        <a class="linkbutton" href="{{ url_for('index') }}">Voltar para a página inicial</a>
    </div>
  </main>
</body>
</html>
